<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="saml2" type="SAML2.Config.Saml2Section, SAML2" />
  </configSections>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Hashed" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <!--<system.xml.serialization>
		<xmlSerializer tempFilesLocation="C:\logs\tmp"/>
	</system.xml.serialization>
	<system.diagnostics>
		<switches>
			<add name="XmlSerialization.Compilation" value="true"/>
		</switches>
	</system.diagnostics>-->
  <saml2>
    <allowedAudienceUris>
      <audience uri="https://saml.safewhere.net" />
      <audience uri="urn:borger.dk:id" />
    </allowedAudienceUris>
    <serviceProvider id="https://saml.safewhere.net" server="http://">
      <signingCertificate findValue="CN=ServiceProvider, O=NITA, C=DK" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
      <endpoints>
        <endpoint type="SignOn" localPath="/demo/login.ashx" redirectUrl="~/Default.aspx" />
        <endpoint type="Logout" localPath="/demo/logout.ashx" redirectUrl="~/MyPage.aspx" />
        <endpoint type="Metadata" localPath="/demo/metadata.ashx" />
      </endpoints>
      <nameIdFormats allowCreate="true">
        <add format="urn:oasis:names:tc:SAML:2.0:nameid-format:transient" />
      </nameIdFormats>
    </serviceProvider>
    <identityProviders metadata="C:\Projects\SAML\Saml2\src\SAML2.Tests\Protocol\MetadataDocs\FOBS">
      <add name="Ping identity" id="ADLER_SAML20_ID">
        <endpoints>
          <endpoint type="SignOn" url="https://adler.safewhere.local:9031/idp/SSO.saml2" binding="Post" />
          <endpoint type="Logout" url="https://adler.safewhere.local:9031/idp/SLO.saml2" binding="Post" />
        </endpoints>
      </add>
      <add name="Another one" id="urn:TokenService/Safewhere">
        <endpoints>
          <endpoint type="SignOn" url="https://adler:9031/idp/SSO.saml2" binding="Redirect" />
          <endpoint type="Logout" url="https://adler:9031/idp/SLO.saml2" binding="Redirect" />
        </endpoints>
      </add>
      <add name="Yet another one" id="TokenService/Safewhere">
        <endpoints>
          <endpoint type="SignOn" url="https://adler:9031/idp/SSO.saml2" binding="Redirect" />
          <endpoint type="Logout" url="https://adler:9031/idp/SLO.saml2" binding="Redirect" />
        </endpoints>
      </add>
    </identityProviders>
    <metadata>
      <contacts>
        <contact type="Administrative" company="Safewhere" givenName="Niels" surName="Flensted-Jensen" email="nfj@safewhere.net" phone="70225885" />
      </contacts>
      <requestedAttributes>
        <add name="urn:oid:2.5.4.5" isRequired="true" />
        <add name="urn:oid:2.5.4.3" isRequired="true" />
        <add name="dk:gov:saml:attribute:CvrNumberIdentifier" />
        <add name="urn:oid.1.3.6.1.4.1.1466.115.121.1.8" />
        <add name="urn:oid:2.5.4.16" />
        <add name="dk:gov:saml:attribute:isLRA" />
        <add name="urn:oid:2.5.4.12" />
        <add name="dk:gov:saml:attribute:RidNumberIdentifier" />
        <add name="urn:oid:0.9.2342.19200300.100.1.1" />
        <add name="dk:gov:saml:attribute:PidNumberIdenfitier" />
        <add name="urn:oid:0.9.2342.19200300.100.1.3" isRequired="true" />
        <add name="urn:oid:2.5.4.11" />
        <add name="dk:gov:saml:attribute:IsYouthCert" />
        <add name="dk:gov:saml:attribute:SpecVer" />
        <add name="dk:gov:saml:attribute:AssuranceLevel" />
        <add name="dk:gov:saml:attribute:CprNumberIdentifier" />
        <add name="urn:oid:2.5.4.4" />
        <add name="urn:oid:2.5.4.10" />
        <add name="urn:oid:2.5.4.65" />
        <add name="dk:gov:saml:attribute:UniqueAccountKey" />
      </requestedAttributes>
    </metadata>
  </saml2>
</configuration>