<configuration>
  <configSections>
    <section name="saml2" type="SAML2.Config.Saml2Section, SAML2" />
  </configSections>
  <system.webServer>
    <handlers>
      <remove name="SAML2.Protocol.Saml20SignonHandler" />
      <remove name="SAML2.Protocol.Saml20LogoutHandler" />
      <remove name="SAML2.Protocol.Saml20MetadataHandler" />
      <add name="SAML2.Protocol.Saml20SignonHandler" verb="*" path="Login.ashx" type="SAML2.Protocol.Saml20SignonHandler, SAML2" />
      <add name="SAML2.Protocol.Saml20LogoutHandler" verb="*" path="Logout.ashx" type="SAML2.Protocol.Saml20LogoutHandler, SAML2" />
      <add name="SAML2.Protocol.Saml20MetadataHandler" verb="*" path="Metadata.ashx" type="SAML2.Protocol.Saml20MetadataHandler, SAML2" />
    </handlers>
  </system.webServer>
    <saml2>
    <allowedAudienceUris>
      <audience uri="urn:SPName" />
    </allowedAudienceUris>
    <serviceProvider id="urn:SPName" server="https://www.example.com">
      <signingCertificate findValue="CN=CERTIFICATENAME" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
      <endpoints>
        <endpoint type="SignOn" localPath="Login.ashx" redirectUrl="~/Default.aspx" />
        <endpoint type="Logout" localPath="Logout.ashx" redirectUrl="~/MyPage.aspx" />
        <endpoint type="Metadata" localPath="Metadata.ashx" />
      </endpoints>
    </serviceProvider>
    <identityProviders metadata="METADATALOCATION">
    </identityProviders>
  </saml2>
</configuration>